<div class="forgot-password-box">
	<div class="forgot-password-content">
		<h2>Forgot Password?</h2>
		<form id="passwordForm" onsubmit="return checkForgotPasswordForm();" method="post">
			<input type="email" name="email" placeholder="Email" required>
			<input type="text" name="username" placeholder="Username">
			<button type="submit">Submit Email Key</button>
			<div class="return-login">
				<a href="/Login">Return to Login</a>
			</div>
		</form>
	</div>
	<div class="image-container">
		<img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg" alt="Image">
	</div>
</div>