<div class="login-box">
	<div class="login-content">
		<h2>Login</h2>
		<form id="loginForm" onsubmit="return checkLoginForm();" method="post">
			<input type="email" name="email" placeholder="Email" required>
			<input type="password" name="password" placeholder="Password">
			<button type="submit">Log In</button>
			<div class="forgot-password">
				<a href="/ForgotPassword">Forgot password?</a>
			</div>
		</form>
		<hr>
		<p><a href="/SignUp">Create New Account</a></p>
	</div>
	<div class="image-container">
		<img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="Image">
	</div>
</div>