<div class="review-reaction">
    <p>Was this review </p>
    <button>Helpful</button>
    <button>Unhelpful</button>
    <button onclick="window.location.href='/editreview?reviewId={{reviewID}}'">Edit</button>
    <button>Delete Post</button>
</div>