<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <link href="/common/ReviewManagement.css" rel="stylesheet" />
    <script src="/common/ReviewManagement.js"></script>
  </head>
  <body>
{{{body}}}
  </body>
</html>
